.banner{
    height: 500vh;
    position: relative;
    /* background: url("https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560"); */
}

.banner__info{
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 10px;
}

.banner__info > button:hover{
    background-color: white;
    color: #ff7779 ;
}

.banner__info > h5 {
    margin-top: 10px;
    color: white;
}
.banner__info > h1 {
    color: white;
}